
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
h1, h2, h3, h4, h4, h6{
    margin: 0;
}
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.primary-bg{
    background-color: #FFF8F3;
}
.btn-primary{
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-contact{
    color: #FD6E0A;
    padding: 18px 24px;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin: 30px 0;
    font-weight: 300;
    padding: 0 10px;
}
.text-center{
    text-align: center;
}
main section{
    margin: 130px 0;
}
/* Google Font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav menu */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}
.nav-title .text-primary{
    color: #FD6E0A;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner Style */

.banner{
    display: flex;
    justify-content: center;
    margin: 0 38px 0 230px;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
}

.banner-content{
    width: 585px;
}
.profile-picture{
    width: 584px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

.about{
    padding: 130px 150px;
    border-radius: 10px;
}
.about-info{
    background-color: #fff;
    border: 1px solid #000;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-title{
    color: #757575;
    font-size: 20px;
}
.about-description{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

/* skills style */


.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.skill img, h4, p{
    margin-bottom: 30px;
}

/* Resume Section Style */

.resume-container{
    display: flex;
    gap: 70px;
    margin-top: 110px;
}
.resume h4{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume h6{
    color: #757575;
}
.resume hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}
.resume-description{
    margin-top: 30px;
    color: #757575;
    font-size: 16px;
}
.resume-button{
    margin-top: 50px;
}

/* Footer Style */
.footer{
    padding: 130px 0;
}
.footer-container{
    display: flex;
    gap: 100px;
    padding: 0px 230px;
}
.footer .section-title{
    margin-bottom: 20px;
}
.footer-social-links{
    display: flex;
}
.footer-social-links li{
    list-style: none;
    margin-right: 24px;
}
.footer input[type="text"], .footer input[type="email"], textarea{
    display: block;
    width: 460px;
    margin-bottom: 24px;
    padding: 18px 30px;
    border: none;
    color: #757575;
    border-radius: 5px;
}
.footer input:focus, .footer textarea{
    border: none;
    outline: none;
}

.footer input:focus{
    border: none;
}